@{
    var db = Database.Open("BackupTrackr");
    
    var hardDriveQuery = @"SELECT id, label FROM HardDrives WHERE status=1";
    var hardDriveList = db.Query(hardDriveQuery);

    var typesQuery = @"SELECT * from BackupTypes";
    var typesList = db.Query(typesQuery);
}

<form role="form" method="post">
    <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" name="date" id="date" value="@PageData["date"]" placeholder="Enter date in this format: mm/dd/yyyy" />
    </div>
    <div class="form-group">
        <label for="harddrive">Hard Drive</label>
        <select class="form-control" name="harddrive" id="harddrive">
            @foreach(var hardDrive in hardDriveList) {
                var hdSelected = hardDrive.id.ToString() == PageData["harddrive"].ToString() ? "selected" : "";
                <option value="@hardDrive.id" @hdSelected>@hardDrive.label</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="description" value="@PageData["description"]" />
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" name="type" id="type">
            @foreach(var type in typesList) {
                var typeSelected = type.id.ToString() == PageData["type"].ToString() ? "selected" : "";
                <option value="@type.id" @typeSelected>@type.name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="notes">Notes</label>
        <input type="text" class="form-control" name="notes" id="notes" value="@PageData["notes"]" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
