@{
    
    var label = "";
    var serial = "";
    var status = "";
    var size = "";
}

<form role="form" method="post">
    <div class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" name ="label" id="label" value="@PageData["label"]" />
        @Html.ValidationMessage("label")
    </div>
    <div class="form-group">
        <label for="serial">Serial</label>
        <input type="text" class="form-control" name="serial" id="serial" value="@PageData["serial"]" />
        @Html.ValidationMessage("serial")
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" name="status" id="status" value="@PageData["status"]" />
        @Html.ValidationMessage("status")
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input type="text" class="form-control" name="size" id="size" value="@PageData["size"]"/>
        @Html.ValidationMessage("size")
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>