@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Backup Log";

    var db = Database.Open("BackupTrackr");
    var selectQuery = @"SELECT Backups.date as Date, HardDrives.label as Label,
                               Backups.description as Description, 
                               BackupTypes.description as Type,
                               Backups.notes as Notes, Backups.yearly as Yearly
                          FROM Backups
                          LEFT JOIN HardDrives
                            ON Backups.harddrive = HardDrives.id
                          LEFT JOIN BackupTypes
                            ON Backups.type = BackupTypes.id";
    var selectedData = db.Query(selectQuery);
}

<div>
    <table>
        <tr>
            <th>Date</th>
            <th>Label</th>
            <th>Description</th>
            <th>Notes</th>
            <th>Yearly</th>
        </tr>
        @foreach(var row in selectedData)
        {
        <tr>
            <td>@row.date</td>
            <td>@row.label</td>
            <td>@row.description</td>
            <td>@row.notes</td>
            <td>@row.yearly</td>
        </tr>
        }
    </table>
</div>