@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Backup Log";

    var sort = Request.QueryString["sort"];

    var db = Database.Open("BackupTrackr");
    var selectQuery = @"SELECT Backups.date as Date, HardDrives.label as Label,
                               Backups.description as Description,
                               BackupTypes.description as Type,
                               Backups.notes as Notes, Backups.yearly as Yearly
                          FROM Backups
                          LEFT JOIN HardDrives
                            ON Backups.harddrive = HardDrives.id
                          LEFT JOIN BackupTypes
                            ON Backups.type = BackupTypes.id
                         ORDER BY @sort";
    
    var selectedData = db.Query(selectQuery);
}

<div>

    <a class="btn btn-default pull-right" role="button" href="/AddBackup">Add</a>
    <h1></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="/BackupLog?sort=date">Date</a></th>
                <th><a href="/BackupLog?sort=label">Label</a></th>
                <th><a href="/BackupLog?sort=description">Description</a></th>
                <th><a href="/BackupLog?sort=notes">Notes</a></th>
                <th><a href="/BackupLog?sort=yearly">Yearly</a></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var row in selectedData)
            {
            <tr>
                <td>@row.date</td>
                <td>@row.label</td>
                <td>@row.description</td>
                <td>@row.notes</td>
                <td>@row.yearly</td>
                <td><a class="btn btn-primary btn-sm pull-right" role="button" href="#">Edit</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>