@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Backup Log";

    var sortColumn = Request.QueryString["sort"] ?? "date";
    var sortDirection = Request.QueryString["sortdir"] ?? "DESC";
    var sortDirectionNext = sortDirection == "DESC" ? "ASC" : "DESC";
        
    var db = Database.Open("BackupTrackr");
    var selectQuery = string.Format(@"SELECT Backups.id, Backups.date as Date, 
                                             HardDrives.label as Label,
                                             Backups.description as Description,
                                             BackupTypes.name as Type,
                                             Backups.notes as Notes
                                        FROM Backups
                                        LEFT JOIN HardDrives
                                             ON Backups.harddrive = HardDrives.id
                                        LEFT JOIN BackupTypes
                                             ON Backups.type = BackupTypes.id
                                       ORDER BY {0} {1}", sortColumn, sortDirection);
    
    var selectedData = db.Query(selectQuery);
}

<div>

    <a class="btn btn-default pull-right" role="button" href="/AddBackup">Add</a>
    <h1></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="/BackupLog?sort=date&sortdir=@sortDirectionNext">Date</a></th>
                <th><a href="/BackupLog?sort=label&sortdir=@sortDirectionNext">Label</a></th>
                <th><a href="/BackupLog?sort=description&sortdir=@sortDirectionNext">Description</a></th>
                <th><a href="/BackupLog?sort=type&sortdir=@sortDirectionNext">Type</a></th>
                <th><a href="/BackupLog?sort=notes&sortdir=@sortDirectionNext">Notes</a></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var row in selectedData)
            {
            <tr>
                <td>@row.date</td>
                <td>@row.label</td>
                <td>@row.description</td>
                <td>@row.type</td>
                <td>@row.notes</td>
                <td><a class="btn btn-primary btn-sm" role="button" href="/EditBackup?id=@row.id">Edit</a></td>
                <td><a class="btn btn-danger btn-sm" role="button" href="/DeleteBackup?id=@row.id" onclick="return confirm('Are you sure you want to delete this backup?')">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>