@{
    // This page uses string formatting to insert variables in the
    // SQL Query for the purposes of table sorting.  I find this
    // method to be more difficult to read and follow than the
    // switch method I used on BackupLog.  Adding appropriate
    // input sanitization will not help readability either.

    // Page Group
    Layout = "~/_Layout.cshtml";
    Page.Title = "Hard Drives";
    Page.Heading="Hard Drive Log";

    // QueryString group
    var sortColumn = Request.QueryString["sort"] ?? "label"; // Set a default sorted column.
    var sortDirection = Request.QueryString["sortdir"] ?? "DESC"; // Set a default sort direction
    var sortDirectionNext = sortDirection == "DESC" ? "ASC" : "DESC"; // Flip the sort direction

    // Database Group
    var db = Database.Open("BackupTrackr");
    var query = string.Format(@"SELECT 
                                  HardDrives.id, 
                                  HardDrives.label, 
                                  HardDrives.serial,
                                  HardDrives.size,
                                  HardDriveStatuses.description
                                FROM HardDrives
                                JOIN HardDriveStatuses
                                  ON HardDrives.status = HardDriveStatuses.id 
                                ORDER BY {0} {1}", sortColumn, sortDirection);
    var selectedData = db.Query(query);
}

<a class="btn btn-default pull-right" role="button" href="/AddHardDrive">Add</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th><a href="/HardDriveLog?sort=label&sortdir=@sortDirectionNext">Label</a></th>
    <th><a href="/HardDriveLog?sort=serial&sortdir=@sortDirectionNext">Serial</a></th>
    <th><a href="/HardDriveLog?sort=description&sortdir=@sortDirectionNext">Status</a></th>
    <th><a href="/HardDriveLog?sort=size&sortdir=@sortDirectionNext">Size</a></th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    @foreach(var row in selectedData){
    <tr>
      <td>@row.label</td>
      <td>@row.serial</td>
      <td>@row.description</td>
      <td>@row.size</td>
      <td><a class="btn btn-primary btn-sm" role="button" href="/EditHardDrive?id=@row.id">Edit</a></td>
      <td><a class="btn btn-danger btn-sm" id="@row.label" role="button" href="/DecommissionHardDrive?id=@row.id" onclick="return confirm('Decommissioning hard drive ' + this.getAttribute('id') + ' will delete any associated backups.\n\nContinue?')">Decommission</a></td>
    </tr>
  }
   </tbody>
</table>