@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Manage Hard Drives";

    var id = "";
    var label = "";
    var serial = "";
    var status = "1";
    var size = "";
    
    var dbOptions = Database.Open("BackupTrackr");
    var optionQuery = "SELECT * FROM HardDriveStatuses";
    var options = dbOptions.Query(optionQuery);

    if(!Request.QueryString["id"].IsEmpty()){
        id = Request.QueryString["id"];
        var db = Database.Open("BackupTrackr");
        var selectQuery = @"SELECT * FROM HardDrives WHERE id=@0";
        var result = db.QuerySingle(selectQuery,id);
        label = result.label;
        serial = result.serial;
        status = result.status.ToString();
        size = result.size.ToString();
    }
    
    Validation.RequireField("label", "The label is an arbitrary identifier to make it easier to differentiate physical drives. This field should match what is written on the drive. Example: HD01");
    Validation.RequireField("serial", "Each physical drive has an unique identifier in the form of a serial number.  Please enter that here.  Sometimes abbreviated as SN or S/N");
    Validation.RequireField("size", "Please enter the capacity of the drive in GigaBytes.  For example, a 2 TerraByte drive would be 2,000 GB");

    if(IsPost && Validation.IsValid()){
        // Researching sanitizing strategies. Will add sanitizing input later

        var dbLabel = Request.Form["label"];
        var dbSerial = Request.Form["serial"];
        var dbStatus = Request.Form["status"];
        var dbSize = Request.Form["size"];

        if(Request.Form["id"].Length > 0){
            var dbId = Request.Form["id"];
            var db = Database.Open("BackupTrackr");
            var updateSql = @"UPDATE HardDrives 
                                 SET label = @0, serial = @1, 
                                     status = @2, size = @3
                               WHERE id = @4";
            db.Execute(updateSql, dbLabel, dbSerial, dbStatus, dbSize, dbId);
            Response.Redirect("/HardDriveLog");
        } else {
            Page.Title = "Insert";
        }
    }
}

<form role="form" method="post">
    <div class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" name ="label" id="label" value="@label" />
        @Html.ValidationMessage("label")
    </div>
    <div class="form-group">
        <label for="serial">Serial</label>
        <input type="text" class="form-control" name="serial" id="serial" value="@serial" />
    </div>
    <div class="form-group">    
        <label for="status">Status</label>
        <select class="form-control" name="status">
            @foreach(var option in options){
                var selected = "";
                if(status == option.id.ToString()){
                    selected = "selected";
                }
                <option value="@option.id" @selected>@option.description</option>
                selected = "";
            }
        </select>
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input type="text" class="form-control" name="size" id="size" value="@size" />
    </div>
    <div class="form-group">
        <input type="hidden" name="id" value="@id" />
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
    </div>
</form>